psych253/
.DS_Store
.idea/


# HWs
HW/ventral_neural_data.hdf5
HW/ventral_neural_data.hdf5n
HW/.ipynb_checkpoints/
HW/__init__.py
HW/hw1/.ipynb_checkpoints/
HW/hw1/__pycache__/
HW/hw1/pickles_from_marc_20190421/
HW/hw2/.ipynb_checkpoints/


data/



notes.txt

# Data
*.pickle